.listContainer{
  
  .items{
    display: flex;
    border: 2px solid gray;
    justify-content: space-around;
    img{
      width: 100px;
      height: 80px;
      border-radius: 50%;
    
  }
  }
}