* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(209, 251, 255);
}

input {
  height: 30px;
  width: 200px;
  border-radius: 6px;
  border: none;
  padding: 0 0 0 10px;
}

select {
  height: 30px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: rgb(208, 31, 114);
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(162, 0, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.75rem;
}

.navbar > a {
  text-decoration: none;
  color: white;
}

.navbar > a:hover {
  color: yellow;
}

.container {
  height: calc(100vh - 80px);
  text-align: center;
}

.container > p {
  margin-top: 40vh;
  font-size: 2.5rem;
  font-weight: 600;
  color: teal;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
