* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#nav {
    height: 40px;
    width: 100%;
    background-color: rgb(156, 31, 179);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav>span>a {
    text-decoration: none;
    color: rgb(255, 238, 0);
}

.card {
    width: 60%;
    height: 50vh;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 8px;
}

.card > P {
    margin: 10px 30%;
}