.dataContainer {
    border: 2px solid rgb(25, 0, 65);
    padding: 20px;
    display: grid;
    width: 95%;
    margin: 20px auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border-radius: 6px;
}

.search {
    height: 35px;
    width: 200px;
    padding: 0 8px;
    border-radius: 5px;
    border: none;
}

.cards {
    height: 200px;
    border: 2px solid gray;
    border-radius: 6px;
}

.ease {
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sortContainer > select, .filterContainer > select {
    height: 30px;
    width: 120px;
    background-color: rgb(149, 0, 146);
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 0);
}

#searchBtn {
    height: 30px;
    width: 100px;
    font-size: .9rem;
}

.deleteBtn {
    width: 90px;
    height: 25px;
    background-color: rgb(255, 0, 64);
    font-size: .8rem;
    border-radius: 4px;
}
.editBtn {
    width: 90px;
    height: 25px;
    color: yellow;
    font-size: .8rem;
    border-radius: 4px;
    margin-right: 10px;
}