

.loginForm {
    border: 2px solid gray;
    width: 80%;
    height: 50vh;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
}

.loginForm > input {
    height: 35px;
    width: 200px;
    padding: 0 8px;
    border-radius: 5px;
    border: none;
    margin: 10px 40px;
}

